<?xml version="1.0"?>
<launch>
    <!-- config file path -->
    <arg name="localizer_settings" default="$(find localizer)/config/param/localizer.yaml"/>

    <node pkg="b_localizer" type="b_localizer_node" name="b_localizer" output="screen">
        <rosparam command="load" file="$(arg localizer_settings)"/>
    </node>
</launch>